<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
xmlns:layout="http://www.ultrag.net.nz/thymleaf/layout">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
   <script    src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script    src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>TP</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Covid</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{patients}">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{formPatient}">Ajoute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{logout}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown" >
                        Actions
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Ajouter</a>
                        <a class="dropdown-item" href="#">Modifier</a>
                        <a class="dropdown-item" href="#">Something else here</a>
</div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section layout:fragment="pageContent"></section>
</body>
</html>